h1{
    font-size: 4.5rem !important;
    font-family: Impact;
}
h3,p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px !important;
}
button{
    font-family: Arial, Helvetica, sans-serif;
}